<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="topstyle.css" />
    <title>WebCampBackendNew</title>
  </head>
  <body>
    <div class="box1"><h2>ようこそ <span class="str">Bookers</span> へ！</h2></div>
    <div class="box2">
      <span class="str1">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
      印象を共有し交換することができます<br>
      <%= link_to 'start', '/todolists/' %>
    </div>
  </body>
</html>